*{
  margin: 0;
  padding: 0;
}
.calculationKeyboard input[class="number"],[class="operator"],[class="dot"]{
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background: #48D1CC;
  border: none;
  color: #191970;
}
.calculationKeyboard input[id="zero"]{
  width: 106px;
}
.calculationKeyboard input[class="clr"]{
  width: 50px;
  height: 162px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background: #48D1CC;
  border: none;
  color: #191970;
}
.calculationKeyboard input[type="button"] {
  border-radius: 2px;
  border: 2px solid grey;
}
.calculationKeyboard input[type="button"]:hover {
  background-color: #f17377;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.textview{
  width: 217px;
  height: 50px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
  box-sizing: border-box;
  background: #48D1CC;
  border: none;
  color: #191970;
  border-radius: 2px;
  border: 2px solid grey;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #191970;
  border: 2px solid #191970;
}
.main input[type="text"]:hover {
  background-color: #f17377;
}
body {
  background-color: #E0FFFF;
}